html {}
body {
	width:100%;margin:0;padding:0;
	/*
font-family: 'Lato', sans-serif; //all - 100,300 anche italic
font-family: 'Quicksand', sans-serif; //menu - 300,400
font-family: 'Source Code Pro', sans-serif; //code - 200,300,400
font-family: 'Raleway', sans-serif; // - 100,200
	*/
	background: #ccc;
	font: 14px 'Helvetica Neue', Arial, sans-serif;
	color:#666;
}
body #left a img{width:160px;opacity:0.8;}
body #left a:hover img{opacity:1;}
body #left{
	overflow:hidden;
	box-shadow:1px 0 0 #ccc;
	position:fixed;
	left:0;
	background:#eee;
	height:100%;
	width:160px;
}
body #right{
	padding:10px;
/*	background-attachment:fixed;
	background-image:url('http://ciaccodavide.altervista.org/patt/?l=3000&a=90&d=1&c=ddd&s=999');
	background-size: auto auto;*/
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	overflow-x:hidden;
	overflow-y:hidden;
	text-align:center;
}
h1{
	text-shadow:1px 1px 0px #eee;
	text-align:center;
	padding:10px 0 30px 0; /*top right bottom left*/
	margin:0;
	color:#aaa;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	line-height: 1.2em;
	-webkit-transition:all 1s;
   	   -moz-transition:all 1s;
		 -o-transition:all 1s;
	        transition:all 1s;
}
.links{
	margin:10px;
	width:160px;
	float:left;
}
.links #active{
	color:#494949;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing:1px;
	text-decoration:none;
}
.links #active t{
	font: 23px 'Helvetica Neue', Arial, sans-serif;
	line-height: 0;
	letter-spacing:3px;
	color:#38f;
}
.links a{
	color:#aaa;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing:1px;
	text-decoration:none;
}
.links a t{
	font: 23px 'Helvetica Neue', Arial, sans-serif;
	line-height: 0;
	letter-spacing:3px;
}
.links a:hover{
	color:#696969;
}
.links a:hover t{
	color:#38f;
}
* a:visited{
	text-decoration:none;
}* a{
	text-decoration:none;
}

body #right img{
	position:relative;
	width:auto;
	height:200px;
}

pre {color: black}
#key{
	margin-top: 10px;
	padding:3px;
	font: 18px 'Helvetica Neue', Arial, sans-serif;
	color:#666;
	margin-left:0;
	margin-right:0;
	width:300px;
}#set,#reset{width: 100px}
canvas{
	border:2px dashed #999;
	display:none;
}