html{
	margin:0;
}

body:before 
{ 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   }

body{
	margin:0;
	padding:0;
	background:#333;
	text-align:center;
	font-family: 'Monda', sans-serif;
}
/*
transition:color 0.5s;
    -moz-transition:color 0.5s;
    -webkit-transition:color 0.5s;
    -o-transition:color 0.5s; 
*/
/*
hr{
	    border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
	
}
*/
h1{
	font-size:120px;
	line-height:10px;
	color:#abf;
	/*
	text-shadow:0 2px 1px #f6f6f6,0 3px 0 #efefef,0 4px 0 #e9e9e9,0 5px 0 #e3e3e3,0 6px 0 #ddd,0 7px 0 #d7d7d7,0 8px 0 #d1d1d1,0 10px 10px rgba(170,170,170,0.4);
	*/
	text-shadow: 0 1px 0 #ccc,
	               0 2px 0 #c9c9c9,
	               0 3px 0 #bbb,
	               0 4px 0 #b9b9b9,
	               0 5px 0 #aaa;
	/*
	,
       0 6px 1px rgba(0,0,0,.1),
       0 0 5px rgba(0,0,0,.1),
       0 1px 3px rgba(0,0,0,.3),
       0 3px 5px rgba(0,0,0,.2),
       0 5px 10px rgba(0,0,0,.25),
       0 10px 10px rgba(0,0,0,.2),
       0 20px 20px rgba(0,0,0,.15)
	*/
}
h2{
	font-size:40px;
	color:#fff;
	line-height:50px;
	padding:6px 0 6px 0;
}
h1 a{text-decoration:none;}
h1 l{
	color:#fff;
	-webkit-transition:color 0.5s;
   	   -moz-transition:color 0.5s;
		 -o-transition:color 0.5s;
	        transition:color 0.5s;
			-webkit-transition:text-shadow 0.5s;
		   	   -moz-transition:text-shadow 0.5s;
				 -o-transition:text-shadow 0.5s;
			        transition:text-shadow 0.5s;
}
h1 l:hover{
	color:#fff;
	-webkit-transition:color 0.5s;
   	   -moz-transition:color 0.5s;
		 -o-transition:color 0.5s;
	        transition:color 0.5s;
			-webkit-transition:text-shadow 0.5s;
		   	   -moz-transition:text-shadow 0.5s;
				 -o-transition:text-shadow 0.5s;
			        transition:text-shadow 0.5s;
	text-shadow: 0 0 10px #fff;
}
menu a{
	line-height:1px;
	/*
	text-shadow: 1px 1px 1px #00b0f3, -1px -1px 1px #0077a4;
	color:#abf;
	*/
	color: transparent;
	    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	padding:10px;
	font-size:30px;
	text-decoration:none;
	-webkit-transition:color 0.5s;
   	   -moz-transition:color 0.5s;
		 -o-transition:color 0.5s;
	        transition:color 0.5s;
			-webkit-transition:text-shadow 0.5s;
		   	   -moz-transition:text-shadow 0.5s;
				 -o-transition:text-shadow 0.5s;
			        transition:text-shadow 0.5s;
}

menu a:visited{
	color:#abf;
}
menu a:hover{
	color: transparent;
	    text-shadow: rgba(255,255,255,1) 0px 3px 1px;
	-webkit-transition:color 0.5s;
   	   -moz-transition:color 0.5s;
		 -o-transition:color 0.5s;
	        transition:color 0.5s;
			-webkit-transition:text-shadow 0.5s;
		   	   -moz-transition:text-shadow 0.5s;
				 -o-transition:text-shadow 0.5s;
			        transition:text-shadow 0.5s;
}

p{
	padding:0 0 0 6px;
	color:#b22519;
	font-size:16px;
	line-height:1px;
	text-shadow: 1px 1px 1px #00b0f3, -1px -1px 1px #0077a4;
}
menu{
	padding:0 40px 0 40px;
}



/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto;  padding:30px;
													background:rgba(30,30,30,0.1);
													box-shadow:inset 1px 1px 1px #00435b,inset -1px -1px 1px #00b3f4;
												}
    .container .column,
    .container .columns                         { float: left; display: inline; margin:10px; 
	}
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


	#box 
	{
	  position: relative;
	  width: 60%;
	  background: #ddd;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  padding: 2em 1.5em;
	  color: rgba(0,0,0, .8);
	  text-shadow: 0 1px 0 #fff;
	  line-height: 1.5;
	  margin: 60px auto;
	}


	#box:before, #box:after 
	{
	  z-index: -1; 
	  position: absolute; 
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%; 
	  top: 80%;
	  max-width:300px;
	  background: rgba(0, 0, 0, 0.7); 
	  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
	  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	  -webkit-transform: rotate(-3deg);    
	  -moz-transform: rotate(-3deg);   
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}

	#box:after 
	{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}
	
	
	#stich {
	    /*stitching*/
	    outline: 1px dashed #98abb9;
	    outline-offset: -5px;

	    background-color: #556068;
	    height: 200px;
	    width: 400px;
	    margin: 100px auto;

	    /*shadow*/
	    -webkit-box-shadow: 2px 2px 2px #000;
	    -moz-box-shadow: 2px 2px 2px #000;
	    box-shadow: 2px 2px 2px #000;
	}
	
	button {
		background:#25A6E1;
		padding:16px 26px;
		color:#fff;
		font-family:'Helvetica Neue',sans-serif;
		font-size:30px;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border:1px solid #1A87B9;
		box-shadow:0 0 0 0 rgba(0,0,0,0.3);
		-webkit-transition:box-shadow 1.5s;
	   	   -moz-transition:box-shadow 1.5s;
			 -o-transition:box-shadow 1.5s;
		        transition:box-shadow 1.5s;
	}
	button:hover{
		cursor:pointer;
		box-shadow:0 0 0 100px rgba(255,255,255,0.1),
				0 0 0 200px rgba(255,255,255,0.1),
				0 0 0 300px rgba(255,255,255,0.1),
				0 0 0 400px rgba(255,255,255,0.1),
				0 0 0 500px rgba(255,255,255,0.1),
				0 0 0 600px rgba(255,255,255,0.1),
				0 0 0 700px rgba(255,255,255,0.1),
				0 0 0 800px rgba(255,255,255,0.1),
				0 0 0 900px rgba(255,255,255,0.1),
				0 0 0 1000px rgba(255,255,255,0.1);
		-webkit-transition:box-shadow 1.5s;
	   	   -moz-transition:box-shadow 1.5s;
			 -o-transition:box-shadow 1.5s;
		        transition:box-shadow 1.5s;
	}