* {
	margin: 0;
	padding: 0;
}
html {}
body {
	width:100%;margin:0;padding:0;
	/*font: normal 14px Monaco, 'Courier New', monospace;
	*/
	color: #eee;
	background: #1f1f1f;
	/*font-size: 18px;*/
	font-family: 'Raleway', sans-serif;
	background-attachment:fixed;
	background-image:url('http://ciaccodavide.altervista.org/qbdp/multicolor/universalbackground.php?altezza=60&larghezza=60&pixelsize=6&ygap=0&ystart=0&xstart=0&colore=1b1b1b&sfondo=161616&probvuoto=50&probpieno=50&counter=rand()');
}
header{
	position: fixed;
	background:#262626;
	width:100%;
	border-bottom: 1px solid #32a0ff;
	height: 69px;
}
header h1{
	padding:0;
	margin:0;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: 100;
	line-height: 1.2em;
	padding-left:10px;
	float: left;
}
header h1:hover{
	color:#fff;
	cursor:pointer;
}
header .menu{
	position: absolute;
	right: 10px;
	bottom: 10px;
}header .menu:hover{
	text-decoration: underline;
	cursor: pointer;
}
a{text-decoration:none;color:#f93682;}
a:hover{text-decoration:none;color:#ff56a2;text-decoration: underline;}

.spacer{height: 69px}
.intestazione{padding: 10px 10px 0 10px;font-size: 30px;}
.linguaggio{padding: 0 10px 0 20px;}
.creator{padding: 0 10px 0 20px;}
.hr{margin: 10px 0 10px 0;border-top: 1px solid #424242;}
.text{
	padding: 10px;
}
.code{
	padding: 10px 0 10px 0;
	border-top: 1px solid #424242;
	border-bottom: 1px solid #424242;
	/*background: #181914;
  background: #23241f;
  background: #1d1f21;*/
	background: #262626;
	box-shadow: inset 0px 10px 10px -6px #111,inset 0px -10px 10px -6px #111;
}
