html {}
body {
	width:100%;margin:0;
	/*font: normal 14px Monaco, 'Courier New', monospace;
	*/
	background: #3d3d3d;
	font: 14px 'Helvetica Neue', Arial, sans-serif;
	background-attachment:fixed;
	background-image:url('http://ciaccodavide.altervista.org/qbdp/multicolor/universalbackgroundshaded.php?altezza=40&larghezza=40&pixelsize=4&ygap=0&ystart=0&xstart=0&colore=09526e&sfondo=09526e&probvuoto=50&probpieno=50&counter=rand()');
	/*background-image:url('http://ciaccodavide.altervista.org/qbdp/multicolor/universalbackground.php?altezza=20&larghezza=20&pixelsize=2&ygap=0&ystart=0&xstart=0&colore=3d3d3d&sfondo=666666&probvuoto=50&probpieno=50&counter=rand()');
*/
}
header{
	position:fixed;
	top:0;
	width:100%;
	height:auto;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	background:rgba(233, 234, 238, 0.6);
	
	border-bottom: 2px solid rgba(233, 234, 238, 0.6);
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	z-index:100;
}
header ul{
	width:100%;
	margin:0;
	padding:0;
	list-style-type: none;	
}
header ul li{
	float:left;
	width:auto;
	padding:0px 20px;
}
header ul a li {
	text-decoration:none;
	color:#333333;
	text-shadow:#efefff 0px 0px 10px;
	
	-webkit-transition:background .36s linear;
		-moz-transition:background .36s linear;
		-o-transition:background .36s linear;
		transition:background .36s linear;
		-webkit-transition:color .36s linear;
		-moz-transition:color .36s linear;
		-o-transition:color .36s linear;
		transition:color .36s linear;
		
}
header ul a:hover li {
	text-decoration:none;
	color:#0080C6;
	
	-webkit-transition:background .36s linear;
		-moz-transition:background .36s linear;
		-o-transition:background .36s linear;
		transition:background .36s linear;
		
		/*box-shadow:0 -10px 30px -10px #ffffff inset;*/
}

h1{
	color:#000;
	background:#e9eaee;
	font: 60px 'Helvetica Neue', Arial, sans-serif;
	font-weight: 100;
	line-height: 1.2em;
	margin-bottom: 0.6em;
	text-align:center;

	border: 2px solid #ffffff;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
h3{
	color:#000;
	background:#e9eaee;
	font: 60px 'Helvetica Neue', Arial, sans-serif;
	font-weight: 100;
	line-height: 1.2em;
	margin-bottom: 0.6em;
	text-align:left;
	padding-left:10px;
	border: 2px solid #ffffff;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 26px;
	color:#0080C6;
	text-shadow:#efefef 1px 1px 0px;
	line-height: 1.2em;
	margin-bottom: 0em;
	margin-top: 0em;
	padding: 6px;
	/*padding-bottom:9px;
	border-bottom:3px double #ffffff;*/
}

img{
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}
#container{
	margin:10px;
}
.item {
	color:#000;
	background:#e9eaee;

	width: 220px;
	margin: 10px;
	float: left;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	line-height: 20px;

	
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
.item:hover{
	/*border: 2px solid #0080C6;*/
}
.item:hover h2{
	/*text-shadow:#3bbbff 0px 0px 3px;*/
}
p{
	padding:0px 12px;
}
a{
	color:#0080C6;
	text-decoration:none;
}
a:hover{
	color:#ff1523;
}
.post{width:240px;}
.l100{width:100px;}
.l120{width:120px;}
.l140{width:140px;}
.l200{width:200px;}
.l300{width:300px;}
.l400{width:400px;}
.l500{width:500px;}
.l600{width:600px;}


/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}

