body #right .photo{
	float:fixed;
	float:left;
	width:49%;
	height:49%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	margin:0;
	padding:0;
	border:none;
}