html {}
body {
	width:100%;margin:0;padding:0;
	background: #ddd;
	font: 14px 'Helvetica Neue', Arial, sans-serif;
}
body #left a img{width:80px;opacity:0.8;float: left;}
body #left a:hover img{opacity:1;}
body #left{
	overflow:scroll;
	box-shadow:1px 0 0 #ccc;
	width: 100%;

	background:#eee;
	height:auto;
	
	overflow-y:hidden;
	overflow-x:hidden;
}
body #right{
	padding:10px;
/*	background-attachment:fixed;
	background-image:url('http://ciaccodavide.altervista.org/patt/?l=3000&a=90&d=1&c=ddd&s=999');
	background-size: auto auto;*/
	left:160px;
	right:0px;
	top:0px;
	bottom:0px;
}
h1{
	text-shadow:1px 1px 0px #eee;
	padding:10px 0 0 0; /*top right bottom left*/
	margin:0;
	color:#aaa;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	line-height: 1.2em;
	-webkit-transition:all 1s;
   	   -moz-transition:all 1s;
		 -o-transition:all 1s;
	        transition:all 1s;
}
.links{
	padding-top: 20px;
	padding-bottom: 20px;
	float:left;
}
.links a{
	color:#888;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing:1px;
	text-decoration:none;
}
.links a t{
	font: 23px 'Helvetica Neue', Arial, sans-serif;
	line-height: 0;
	letter-spacing:3px;
}
.links a:hover{
	color:#696969;
}
.links a:hover t{
	color:#38f;
}
* a:visited{
	text-decoration:none;
}* a{
	text-decoration:none;
}
.post{
	float:left;
	margin:10px;
	padding:10px;
	max-width:300px;
	height:auto;
	background:#eeeeee;
	color:#666;
	text-decoration:none;
}
.post:hover{
	cursor:pointer;
	background:#f6f6f6;
}
.post h2{
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	font-size: 30px;display:inline;
	color:#333;
}
.post t{display:inline;
	font: 90px 'Helvetica Neue', Arial, sans-serif;
	line-height: 0;
	letter-spacing:0px;
	opacity:0.8;
}
.post .content{
	text-align:left;
}.post .content img{
	display: block;
	margin: 10px 0;
	max-width: 480px;
	max-height: 500px;
	border: 3px double #ddd;
}



.post#red{border-bottom:2px solid #f66;}
.post#red t{color:#f66;}
.post#green{border-bottom:2px solid #9e6;}
.post#green t{color:#9e6;}
.post#blue{border-bottom:2px solid #38f;}
.post#blue t{color:#38f;}
.post#yellow{border-bottom:2px solid #ffc532;}
.post#yellow t{color:#ffc532;}

#avatars{background: url(http://ciaccodavide.altervista.org/qbdp/perpets/?counter=5);background-position: 50% 50%;}
#canvas{background: url(../imgs/icon_canvas.png);background-position: 50% 50%;}
#randomart{background: url(../imgs/icon_randomart.png);background-position: 50% 50%;}
#prog{background: url(../imgs/icon_prog2.png);background-position: 50% 50%;}
#indexcrypted{background: url(../imgs/icon_indexcrypted.png);background-position: 50% 50%;}
#crypt{background: url(../imgs/icon_crypt.png);background-position: 50% 50%;}
.icno {
	margin:10px;
	width:70px;
	height:70px;
	-webkit-border-top-left-radius: 50px;
	  -webkit-border-top-right-radius: 50px;
	  -webkit-border-bottom-right-radius: 50px;
	  -webkit-border-bottom-left-radius: 50px;

	  -moz-border-radius-topleft: 10px;
	  -moz-border-radius-topright: 10px;
	  -moz-border-radius-bottomright: 10px;
	  -moz-border-radius-bottomleft: 10px;

	  border-top-left-radius: 50px;
	  border-top-right-radius: 50px;
	  border-bottom-right-radius: 50px;
	  border-bottom-left-radius: 50px;

	  -moz-background-size: cover;
	  -webkit-background-size: cover;
	  background-size: cover;
	  
    background-repeat: no-repeat;
}


#counter{
	position:fixed;
	right:0;
	bottom:0;
}

#hiddencounter{display:none;}
#btc-quote{position: fixed;right: 0;bottom: 0;}



