* {
	margin: 0;
	padding: 0;
}

html, 
body {
	font-family:QuicksandBook, Helvetica, Arial, sans-serif;
	text-shadow:#efefef 1px 1px 0px;
	font-size: 22px;
	color: #222;
	background-color:#333;
	
}
a {
	color: #f76f76;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
a:hover {
		color: #F43342;
		text-decoration: underline;
	}
h1 {
	color: #222;
	font-size: 60px;
	line-height: 1;
	font-family: QuicksandBold, Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow:#ddd 1px 1px 0px, #999 0px 0px 10px, #999 0px 0px 10px;
	padding:10px 20px 0 0; /*top dx bottom sx*/
	width:auto;
	float:left;
}
h2 {
	color: #222;
	font-size: 20px;
	line-height: 1;
	font-family: QuicksandBold, Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow:#ddd 1px 1px 0px, #999 0px 0px 10px, #999 0px 0px 10px;
	padding:10px 20px 0 0; /*top dx bottom sx*/
	position:fixed;
	bottom:10px;
	left:10px;
}
h4 {
	font-size: 20px;
	font-family: QuicksandBold, Helvetica, Arial, sans-serif;
	padding: 3px 0 3px 0;
	display: block;
	margin-top: 10px;
	color: #999;
	border: 1px dotted #aaa;
	-webkit-text-size-adjust: none;
}
header {display: block;
	padding:10px 30px 0px 30px; /*top dx bottom sx*/
	text-align:left;
}
#menu {
	position:absolute;
	font-size: 26px;
	width:500px;
	left:525px;
	top:0;
}
#menu li{
	float:left;
	display:block;
	background:rgba(0,0,0, 0);
	text-shadow:0 0 2px rgba(0,0,0,0.2);
	padding:57px 10px 10px 10px; /*top dx bottom sx*/
	-webkit-transition:background .25s linear;
	-moz-transition:background .25s linear;
	-o-transition:background .25s linear;
	transition:background .25s linear;
	-webkit-transition:color .25s linear;
	-moz-transition:color .25s linear;
	-o-transition:color .25s linear;
	transition:color .25s linear;
	color:#0080C6;
	top:0;
}
#menu li:hover{
	color:white;
	background:rgba(0, 128, 198, 0.8);
	-webkit-transition:background .25s linear;
	-moz-transition:background .25s linear;
	-o-transition:background .25s linear;
	transition:background .25s linear;
	
	box-shadow:0 -10px 30px -10px #333 inset;
}
img {
	border: 3px double #aaa;
	/*border: 1px dashed #aaa;
	border-radius:0 60px 0 60px;*/
	float:left;
	margin-right: 20px;
	-moz-box-shadow:    inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow:         inset 0 0 20px #000000;
}
h3 {
	font-size: 20px;
	color:#0080C6;
}
p {
	font-size: 16px;
	color:#000;	
}

.sharing {z-index:100;
	position: fixed;
	top: 10px;
	right: 10px;
}

del {
	opacity: 0.6;
}
contents{
	z-index:0;
	position:fixed;
	top:90px;
	left:0;
	right:-80px;
} 
/*top dx bottom sx*/


sq0{z-index:3;position:relative;
	float:left;
	height:60px;
	width:60px;
	background:rgba(10, 10, 10, 0.6);border-right:1px solid rgba(0, 128, 255, 0.6);border-bottom:1px solid rgba(0, 128, 255, 0.6);
}
sq0:hover{
	background:rgba(30, 30, 30, 0.3);
}

buttons{height:auto;width:auto;padding:3px;position:fixed;left:10px;top:80px;z-index:20;}
button{height:auto;width:auto;padding:3px;position:relative;}
