html,body{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
}




body #background_image{
	z-index: -100;
	position: fixed;
	bottom:0;
	right: 0;
	opacity: 1;
	max-height: 100%;
}

@media only screen and (max-width:1300px){
	body #background_image{
		opacity: 0.3;
	}
}



header{
	position: relative;
	text-align: left;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 30px;
	padding-bottom: 0;
	border-bottom: 1px solid #cfcfcf;
}header #logo{
	padding-top: 60px;
	padding-right: 60px;
	width: 100px;
	height: auto;
	display: inline-block;
}header p{
	display: inline-block;
	font-size: 20px;
	color: #666666;
}header .arrow{
	display: inline-block;
	opacity: 0.6;
	margin-left: 5px;
}


/* top | right | bottom | left */

form{
	position: relative;
	text-align: left;
	width: 50%;
	margin-left: 10%;
}
form input{
	padding-left: 10px;
	margin: 6px 0 10px 0;
	width: 90%;
	height: 45px;
	font-size: 22px;
	color: #767676;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
    box-shadow: inset 0px 0px 10px #ddd,0px 0px 10px #ddd;
    background: white;
}form .half{
	width: 40%;
}form #second{
	margin-left: 5%; 
}
form [type="radio"]{
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}span{
	font-size: 20px;
	padding-left: 10px;
}
form select{
	margin-top: 10px;
}
form [type="submit"]{
	margin-top: 6px;
	width: 260px;
	height: 60px;
	display: block;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ee00), color-stop(1, #00ca00) );
	background:-moz-linear-gradient( center top, #00ee00 5%, #00ca00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ee00', endColorstr='#00ca00');
	background-color:#00ee00;
	-webkit-border-top-left-radius:1px;
	-moz-border-radius-topleft:1px;
	border-top-left-radius:1px;
	-webkit-border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-top-right-radius:1px;
	-webkit-border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-right-radius:1px;
	-webkit-border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
	border-bottom-left-radius:1px;
	border:1px solid #bdbdbd;
	color:#ffffff;
	font-family:arial;
	font-size:22px;
	font-style:normal;
	text-decoration:none;
	text-align:center;
}
form [type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ca00), color-stop(1, #00ee00) );
	background:-moz-linear-gradient( center top, #00ca00 5%, #00ee00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca00', endColorstr='#00ee00');
	background-color:#00ca00;
	cursor: pointer;
}form [type="submit"]:active {
	position:relative;
	top:1px;
}

footer{
	display: none;
}
select{
	width: 140px;
	height: 48px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,f2f2f2+51,e2e2e2+100 */
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(242,242,242,1) 51%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(51%,rgba(242,242,242,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(242,242,242,1) 51%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(242,242,242,1) 51%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(242,242,242,1) 51%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(242,242,242,1) 51%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	overflow: hidden;
	text-align: center;
	font-size: 18px;
}






@media only screen and (max-width:860px){
	body #background_image{
		opacity: 0.2;
	}
	header{
		position: relative;
		text-align: center;
		width: 90%;
		margin-left: 5%;
		margin-bottom: 30px;
		padding-bottom: 0;
		border-bottom: 1px solid #cfcfcf;
	}header #logo{
		padding-top: 20px;
		padding-right: 0;
		width: 100px;
		padding-left: 50%;
		margin-left: -50px;

		height: auto;
		display: block;
	}header p{
		display: inline-block;
		font-size: 20px;
		color: #666666;
	}header .arrow{
		display: inline-block;
		opacity: 0.6;
		margin-left: 5px;
	}


	/* top | right | bottom | left */

	form{
		position: relative;
		text-align: left;
		width: 90%;
		margin-left: 5%;
		padding-left: 10px;
	}
	form input{
		padding-left: 10px;
		margin: 6px 0 10px 0;
		width: 90%;
		height: 45px;
		font-size: 22px;
		color: #767676;
		border: 1px solid #cfcfcf;
		border-radius: 4px;
	    box-shadow: inset 0px 0px 10px #ddd,0px 0px 10px #ddd;
	    background: white;
	}form .half{
		width: 90%;
	}form #second{
		margin-left: 0; 
	}
	form [type="radio"]{
		height: 20px;
		width: auto;
		display: inline-block;
		margin-left: 10px;
	}span{
		font-size: 20px;
		padding-left: 10px;
	}
	form select{
		width: 90%;
		margin-top: 10px;
	}
	form [type="submit"]{
		margin-top: 6px;
		width: 90%;
		height: 60px;
		display: block;

		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ee00), color-stop(1, #00ca00) );
		background:-moz-linear-gradient( center top, #00ee00 5%, #00ca00 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ee00', endColorstr='#00ca00');
		background-color:#00ee00;
		-webkit-border-top-left-radius:1px;
		-moz-border-radius-topleft:1px;
		border-top-left-radius:1px;
		-webkit-border-top-right-radius:1px;
		-moz-border-radius-topright:1px;
		border-top-right-radius:1px;
		-webkit-border-bottom-right-radius:1px;
		-moz-border-radius-bottomright:1px;
		border-bottom-right-radius:1px;
		-webkit-border-bottom-left-radius:1px;
		-moz-border-radius-bottomleft:1px;
		border-bottom-left-radius:1px;
		border:1px solid #bdbdbd;
		color:#ffffff;
		font-family:arial;
		font-size:22px;
		font-style:normal;
		text-decoration:none;
		text-align:center;
	}
}
@media only screen and (max-device-width:480px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width:768px){
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}